@font-face {
    font-family: titulo;
    src: url('Fuentes/NFL_Jacksonville_Jaguars[1].ttf');
}

@font-face {
    font-family: subtitulo;
    src: url('Fuentes/Gabarito-VariableFont_wght.ttf');
}

*{
    font-family: subtitulo;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    min-height: 100vh;
}

h1,h2,h3{
    font-family: titulo;
    font-size: 50px;
}

p{
    font-size: 30px;
}

:root{
    --color-blanco: #e7e7e7;
}

/* NAV */

nav{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px); 
    position: fixed;
    z-index: 10;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  nav a{
    color: var(--color-blanco);
    font-weight: bold;
    text-decoration: none;
  }

/* NAV */

/*INICIO*/

#inicio{
    color: var(--color-blanco);
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ) ,url(Imagenes/fondo.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#inicio p{
    width: 60%;
}

/*INICIO*/


/*COMO EMPEZAR*/

#como-empezar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#como-empezar h2{
    color: #000;
}

#como-empezar_info{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-around;
}

#como-empezar_info div{
    border-radius: 40px;
    padding: 2px;
    text-align: center;
    width: 30%;
    background: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*COMO EMPEZAR*/


/*EJERCICIOS*/

#ejercicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ccc;
}

#ejercicios h2{
    text-align: center;
}

/*EJERCICIOS*/

/*DESLIZAR*/
/* PRODUCTS */
.product {
position: relative;
overflow: hidden;
padding: 20px;
}

.product h2{
text-align: center;
}

.product-category {
padding: 0 10vw;
font-size: 30px;
font-weight: 500;
margin-bottom: 40px;
text-transform: capitalize;
}

.product-container {
padding: 0 10vw;
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
display: none;
}

.product-card {
flex: 0 0 auto;
width: 250px;
height: 450px;
margin-right: 40px;
}

.product-image {
position: relative;
width: 100%;
height: 350px;
overflow: hidden;
}

.product-image img{
object-fit: contain;
}

.product-thumb {
width: 100%;
height: 100%;
object-fit: cover;
}

.product-card:hover .card-btn {
opacity: 1;
}

.product-info {
width: 100%;
height: 100px;
padding-top: 10px;
}

.product-brand {
text-transform: uppercase;
}

.actual-price {
margin-left: 20px;
opacity: 0.5;
text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
border: none;
width: 10vw;
height: 100%;
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
background: #ccc;
cursor: pointer;
z-index: 8;
}

.pre-btn {
left: 0;
transform: rotate(180deg);
}

.nxt-btn {
right: 0;
}

.pre-btn img,
.nxt-btn img {
opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
opacity: 1;
}

.collection-container {
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
}

.collection {
position: relative;
}

.collection img {
width: 100%;
height: 100%;
object-fit: cover;
}

.collection p {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: #fff;
font-size: 50px;
text-transform: capitalize;
}

.collection:nth-child(3) {
grid-column: span 2;
margin-bottom: 10px;
}

/*DESLIZAR*/

/*SUPLEMENTOS*/

#suplementos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suplementos_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.suple {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.suple div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 30%;
}

.suple img{
    max-height: 60%;
}
/*SUPLEMENTOS*/

/*CALORIAS*/

#calorias{
    background: #0680d1;
}

#calorias, #calorias div, #calorias a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calorias a img{
    width: 40%;
    border-radius: 40px;
}

/*CALORIAS*/

/*FOOTER*/

footer{
    height: 5vh;
    background: #000;
    display: flex;
    justify-content: center;
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
}

footer img{
    filter: invert(100%);
    height: 3vh;
}
/*FOOTER*/